<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pellama</title>
</head>

<body>
    <header>
        <hgroup class="container">
            <h1>Pellama</h1>
            <small>Assisted Image Generation</small>
        </hgroup>
    </header>

    <main class="container">
        <section>
            <h2>Now fix your original prompt</h2>

            <blockquote>
                "{{ cur_uc.initial.prompt }}"
                <footer>
                    <cite>Your prompt</cite>
                </footer>
            </blockquote>
            
            <div class="grid" style="place-items: center;">
                <figure style="text-align: center;">
                    <img src="{{ cur_uc.initial.response }}" alt="Generated image" width="400">
                    <figcaption>Your generated image</figcaption>
                </figure>
            </div>

            <blockquote>
                "{{ cur_uc.feedback }}"
                <footer>
                    <cite>Your feedback</cite>
                </footer>
            </blockquote>
        </section>
        
        <h3>Change up your original prompt to incorporate the feedback you gave</h3>

        <form method="post" action="/manualfix">
            <fieldset>
                <textarea id="manualfix-msg" name="manualfix_msg" placeholder="Enter Changed Prompt ..." required>{{ cur_uc.initial.prompt }}</textarea>
                <small id="manualfix-msg-helper">ex. there should be less focus on trees, there should be a dog in the background</small>
                <button id="submit" type="submit">Submit</button>
                <small id="submit-helper"><i>~25-35s to generate images</i></small>
            </fieldset>
        </form>
    </main>

    <script>
        document.querySelector('#submit').addEventListener('click', (e) => {
            e.preventDefault();
            if (!document.querySelector('#manualfix-msg')?.value) return;
            e.target.disabled = true
            e.target.setAttribute('aria-busy', 'true')

            const elt = document.createElement('progress');
            elt.max = 100
            elt.value = 0
            document.querySelector('main').appendChild(elt);
            const currentTime = Date.now()
            const maxSeconds = 30
            setInterval(() => elt.value = Math.ceil((Date.now() - currentTime) / (maxSeconds * 1000) * 100), 2500);

            document.querySelector('form')?.requestSubmit()
        });
    </script>
</body>

</html>