<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pellama</title>
</head>

<body>
    <header>
        <hgroup class="container">
            <h1>Pellama</h1>
            <small>Assisted Image Generation</small>
        </hgroup>
    </header>

    <main class="container">
        <section>
            <h2>Which image fits best?</h2>

            <blockquote>
                "{{ cur_uc.initial.prompt }}"
                <footer>
                    <cite>Your prompt</cite>
                </footer>
            </blockquote>
            
            <blockquote>
                "{{ cur_uc.feedback }}"
                <footer>
                    <cite>Your feedback</cite>
                </footer>
            </blockquote>

            <blockquote>
                "{{ cur_uc.manual }}"
                <footer>
                    <cite>Your revised prompt</cite>
                </footer>
            </blockquote>
        </section>
        
        <form method="post" action="/selection">
            <fieldset>
                <legend>Image preference:</legend>
                <div class="grid" style="place-items: center;">
                    {% for i, pr in choices %}
                        <label>
                            <figure style="text-align: center;">
                                <img src="{{ pr.response }}" alt="Generated image" width="400">
                                <figcaption>A generated image</figcaption>
                            </figure>
                            <input type="radio" name="img_selection" value="{{ i }}" {% if loop.index == 1 %} checked {% endif %} />
                            Select this image
                        </label>
                    {% endfor %}
                </div>
                <button id="submit" type="submit">Submit</button>
            </fieldset>
        </form>
    </main>

    <script>
        document.querySelector('#submit').addEventListener('click', (e) => {
            e.preventDefault();
            e.target.disabled = true
            e.target.setAttribute('aria-busy', 'true')

            const elt = document.createElement('progress');
            elt.max = 100
            elt.value = 0
            document.querySelector('main').appendChild(elt);
            const currentTime = Date.now()
            const maxSeconds = 5
            setInterval(() => elt.value = Math.ceil((Date.now() - currentTime) / (maxSeconds * 1000) * 100), 2500);

            document.querySelector('form')?.requestSubmit()
        });
    </script>
</body>

</html>